button {
  border-radius: 20px;
}

.app {
  width: 100%;
  height: 100%;

  color: #333332;


  .app-header {
    width: 100%;
    height: 20%; // TODO

    background-image: url("./assets/img/hero@2x.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    header {
      background-color: rgba(255, 255, 255, .7);
      height: 20%;

      .header-icon {
        display: inline-block;
        height: 100%;
        width: 10%;
        background-image: url("./assets/img/logo@2x.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
      }

      nav {
        display: inline-block;

        ul li {
          display: inline-block;
        }
      }

    }

    .app-header-title {
      color: #fff;
    }
    .app-header-button {
      width: 150px;
      border-radius: 20px;
    }
  }

  .app-body {
    width: 100%;
    
    .get-beer {}
    .about-us {}
  }

  .app-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #414042;

    .app-footer-left {
      display: inline-block;

      .footer-address {
        color: #E6E7E8;
      }
      .footer-copyright {
        color: #6D6E71;
      }
    }

    .footer-icon {
      display: inline-block;
      height: 84px;
      width: 120px;
      background-image: url("./assets/img/footer-graphic@2x.png");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
